.smbutton {
    display: flex;
    justify-content: center;
  
    &,
    &:link,
    &:visited {
        display: flex;
        cursor: pointer;
    }
  
  
    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba(black, .2);
  
      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
    }
  
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(black, .2);
    }
  }
  
  .smsvg {
    display: flex;
    justify-self: center;
  }